@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
}

.ql-editor {
  font-size: 1.3rem;
  font-family: inherit;
}

@layer utilities {
  @keyframes letterSpacing {
    0% {
      letter-spacing: 0;
      transform: scale(1);
    }
    30% {
      letter-spacing: -0.2em;
    }
    50% {
      letter-spacing: -0.3em;
      transform: scale(0.8);
    }
    70% {
      letter-spacing: 0.2em;
      transform: scale(1.1);
    }
    100% {
      letter-spacing: 0.1em;
      transform: scale(1);
    }
  }

  .animate-letter-spacing {
    animation: letterSpacing 0.5s ease-in-out forwards;
    animation-delay: 0.3s;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .animate-fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
    animation-delay: var(--delay, 0s);
  }

  @keyframes textSlide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-text-slide {
    animation: textSlide 8s linear infinite;
    white-space: nowrap;
    display: inline-block;
  }
}
